$darkBlue: rgb(0, 34, 89);
$errorColor: rgb(233, 3, 37);
$formBackground: rgba(10, 24, 78, 0.8);
$inputShadow: rgb(4, 212, 91);
$inputBackground: rgba(148, 160, 207, 0.5);
$titleColor: rgb(255,255,255);